<h1>Verschillen de kleuren</h1>
<div>
<ul>
<li class="rood"> Rood </li>
<li class="blauw"> Blauw </li>
<li class="geel"> Geel </li>
<li class="groen"> Groen</li>

</ul>
</div>


<p><strong>Find</strong> me in app/views/pages/info.html.erb</p>
